<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            
                <div>
                    
                    <a href="/">Home</a> |
                    <a href="/crap">Crap</a> |
                    <a href="/about">About</a>
                    
                </div>
            
        </header>

    </body>
</html>