<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {{>header}}
        <h1>Its CRAP page</h1>
        <span>this page is created by <b>{{name}}</b></span>
    {{>footer}}
    </body>
</html> 