<!DOCTYPE html>
<html>
    <head>

    </head>
<body>
     {{>header}}
   <h1>{{title}}</h1>
    <div>
        <span>Created By<b>{{name}}</b></span>
    </div>
    <div><img height= '40%' width='50%' src='{{imgPath}}'></div>
    {{>footer}}
</body>
</html>